{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="section">
            <h4>About Us</h4>
            <p>GitHub Stats Web Service was born out of a passion for open-source software and the desire to empower developers with data-driven insights. We understand that managing GitHub repositories can be challenging, and having the right information at your fingertips is crucial for making informed decisions.</p>
        </div>

        <div class="section">
            <h4>Key Features</h4>
            <p><strong>Repository Insights</strong></p>
            <ul>
                <li>GitHub Account Stats: Display basic information about the GitHub user, such as their username, avatar, follower
                count, and the number of repositories.</li>
                <li>Contributor Analysis: Identify your top contributors and see how their contributions evolve. (Coming Soon)</li>
                <li>Codebase Metrics: Get statistics on code quality, lines of code, and more. (Coming soon)</li>
            </ul>

        </div>

        <div class="section">
            <h4>How it Works</h4>
            <p>Using GitHub Stats Web Service is easy:</p>
            <ol>
                <li>Sign in with your GitHub account if you already have an account. If not, <a href="/register">Sign up here</a></li>
                <li>Enter the repository you want to analyze.</li>
                <li>Explore the various statistics and insights we provide.</li>
            </ol>
        </div>

        <div class="section">
            <h4>Security and Privacy</h4>
            <p>We take security and privacy seriously. Your GitHub data is encrypted and stored securely, and we adhere to industry-standard security practices. Rest assured that your information is in safe hands.</p>
        </div>

        <div class="section">
            <h4>Get Started</h4>
            <p>Ready to harness the power of data-driven decision-making for your GitHub repositories? <a href="/register">Sign up</a> for GitHub Stats Web Service today and take control of your development projects.</p>
        </div>

        <div class="section">
            <h4>Contact Us</h4>
            <p>If you have any questions, feedback, or need assistance, don't hesitate to <a href="mailto:amadasunese@gmail.com">contact our support team</a>. We're here to help you make the most of your GitHub experience.</p>
        </div>
    </div>
{% endblock %}
