<!DOCTYPE html>
<html>
<head>
    <title>GitHub Stats Web Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>GitHub Stats Web Service</h1>
        <form id="username-form" class="input-form">
            <label for="username">Enter GitHub Username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Fetch Stats</button>
        </form>
        
        <div id="user-profile" class="user-profile">
            <!-- Display user profile data here -->
        </div>
        
        <div id="repositories" class="repositories">
            <!-- Display repositories data here -->
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
